*.jar filter=lfs diff=lfs merge=lfs -text
notification-server/target/notification-server-0.0.1-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
slots-server/target/slots-server-0.0.1-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
